body .custom-wide-categories .custom-category li a {
    display: inline-block;
    line-height: 20px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.navbar.navbar-expand-lg.navbar-light.pt-0 {
    display: none
}

.serp-search-bar h1.title-3 {
    font-size: 36px
}

@media(max-width:980px) {
    .top-main-wrapper {
        padding-top: 76px !important
    }

    .mobile-font-size-heading {
        font-size: 26px !important
    }

    .contact-form .fa-lg {
        font-size: 1.33333em !important
    }

    .container.wide.px-0 {
        padding-right: 1rem !important;
        padding-left: 1rem !important
    }
}

@media(max-width:450px) {
    .navbar.navbar-expand-lg.navbar-light.pt-0 {
        display: flex !important
    }

    li.nav-item.postadd.add-post-max-width.pt-3 {
        margin-top: 1rem !important
    }

    .mobile-input {
        width: 100%
    }

    .mobile-input .input-field {
        border-right: 1px solid #ddd
    }

    .header-image {
        padding: 10px
    }

    .banner-heading {
        text-align: center
    }

    .container.wide.custom-wide-categories.px-0 {
        padding-right: 0 !important;
        padding-left: 0 !important
    }

    .custom-wide-categories h2 {
        padding-left: 0 !important
    }

    .custom-wide-categories h2 a.sell-your-item.mt-3 {
        margin-top: 0 !important
    }

    .custom-wide-categories .custom-category li {
        padding-left: 0 !important;
        padding-right: 0 !important
    }

    .custom-wide-categories .inner h2 a {
        padding: 24px
    }

    .custom-background-color .inner .col-lg-8 {
        text-align: center
    }

    .custom-btn-block {
        display: block;
        width: 100%
    }

    form#custom-hide-search {
        margin-bottom: 32px !important
    }

    form#custom-hide-search .col-12.p-4.rounded {
        padding: 1.5rem !important
    }

    .root-882857460 {
        text-align: center
    }

    a#langDropdown {
        padding: 0 0 0 30px
    }

    .serp-search-bar h1.text-center.title-3.my-5 {
        margin: 22px !important;
        font-size: 36px !important
    }

    .embed-responsive iframe {
        width: 100%;
        height: auto
    }

    .img-thumbnail {
        height: auto !important
    }

    .table-action {
        display: none
    }

    .card-default .removeClassEditPage {
        width: 100%
    }
}

@media (max-width: 768px) {
    span#phplive_btn_1712344087_clone img {
        width: 50% !important
    }

    span#phplive_btn_1712344087_clone {
        right: -50px !important
    }
}